# PORTA DO SERVIDOR
PORT=3000

# SESSÃO (gerar uma string aleatória longa)
SESSION_SECRET=sua_chave_secreta_muito_longa_e_aleatoria_aqui

# MERCADO PAGO
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_MODE=sandbox

# URL BASE (mudar para produção)
BASE_URL=http://localhost:3000
